
.navbar-fixed {
    position: fixed;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    backdrop-filter: blur(8px);
}

#img{
    animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}